# bo-cli
BO_USER=
BO_PASSWORD=
BO_AUTH=secEnterprise
BO_BASE_URL=https://www.bicorporativo.mg.gov.br/biprws
BO_VERIFY_SSL=false
BOCLI_MAX_REQUESTS_PER_MINUTE=30
BOCLI_NETWORK_RETRIES=3
BOCLI_REQUEST_DELAY=0.5

# anonimização
ANONYMIZE_SECRET_KEY=

# load (GitHub App)
GH_APP_ID=4487336
GH_APP_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----  -----END RSA PRIVATE KEY-----
